<!--Listado de productos destacados-->
<h4 [ngClass]="{'titulo':'titulo1'}" aria-label="best_sealed_products">{{'main-produc.Nuestros productos destacados' | translate }}</h4>
<div [ngClass]="{'listaProd' : 'lista'}" role="list">
@for (item of novedade; track $index) {
  <!--Mostramos los 4 primeros productos-->
  @if ($index < 4) {
    <div class="prod" role="listitem">
      <img src="{{item.imagen}}" alt="imagen del producto" [ngClass]="{'producto' : 'producto1'}" aria-label="product_image">
      <h3 aria-label="product_name">{{item.nombre}}</h3>
      <h5 aria-label="product_description" class="offerDesc">{{item.descripcion}}</h5>
      <div [ngClass] = "{'precios' : 'precio1'}">
        <button [ngClass]="{'precio': 'price1'}" aria-label="product_price">{{item.precio}} €</button>
      </div>
    </div>
  }
}
</div>

<!--Listado de productos destacados-->
<h4 [ngClass]="{'titulo':'titulo1'}" aria-label="offer_and_news">{{'main-produc.Ofertas y novedades' | translate }}</h4>
<div [ngClass]="{'listaProd2' : 'lista'}" role="list">
@for (item of producto; track $index) {
  @if ($index < 4) {
    <div class="prod2" role="listitem">
          <img src="{{item.imagen}}" alt="imagen del producto" [ngClass]="{'producto' : 'producto1'}" aria-label="product_image">
          <h3 aria-label="product_name">{{item.nombre}}</h3>
          <h5 aria-label="product_description" class="offerDesc">{{item.descripcion}}</h5>
        <div [ngClass] = "{'preciosOfer' : 'precio1'}">
          <h5 [ngClass]="{'oferta' : 'precio1'}" aria-label="offer">{{item.precioAnterior}} €</h5>
          <button [ngClass]="{'precio' : 'precio1'}" aria-label="offer_price">{{item.precio}} €</button>
        </div>
    </div>
  }
}
</div>

<br><br><br>
