/*Imports de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

/*Propiedades de todos los elementos*/
*{
  font-family:'Rubik';
  font-weight:500;
  margin: 0;
  padding: 0;
}

.encabezado {
    border-bottom: 1px solid black;
    height: 80px;
    align-items: center;
    display: flex;
    background-color: white;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    padding: 10px;
    background-color: #232f3e;
    color: white;
}

picture{
    width: 100%;
    border: 1px solid black;
}

.icon{
    width: 110px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 100%;
}

.busqueda {
  max-width: 300px; /* Ancho máximo del input */
  width: 300px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  margin-left: 5vw; /* Espaciado después del botón chart */
  background-color: lightgrey;
  border-radius: 10px;
}

h2{
  margin-left: 12vw;
}

.left{
  float: left;
  display: flex;
  width: 35%;
  margin-right: -180px;
  margin-top: 2vh;
}

.right{
  float: right;
}

.menuIcon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 25px;
    background-image: url('../assets/avatarPFP.png');
    background-size: 80px 80px;
    background-position:center;
    float: left;
    border: none;
    border-color: transparent;
    background-color: transparent;
}

.pfp{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 0;
}


.darkMode{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 25px;
    background-image: url('../assets/dark.png');
    background-size: 65px 65px;
    background-position:center;
    background-color: white;
    float: left;
    margin-left: 10px;
    margin-right: 0px;
}

.chart{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: url('../assets/chart.png');
    background-size: 60px 60px;
    background-position:center;
    float: left;
    margin-left: 10px;
    margin-right: 0px;
    border: none;
    background-color: white;
}

body{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-align: center;
}

div.dark{
    background-color: #303030;
}

.dark_mode{
    background-color: #4B4B4B;
}

h3{
  text-align: center;
  margin-left: 0vw;
}

.logo-container{
  width: 10vw;
}

.logo {
  width: 120px; /* Reducir tamaño en móviles */
  float: left;
  margin-top: 1vh;
}

@media (max-width: 425px){
  .logo {
    width: 40px; /* Reducir tamaño en móviles */
    float: left;
    margin-top: -1vh;
  }

  .encabezado{
    margin: 0;
    border-bottom: 2px solid black;
    width: 200vw;
    justify-content: center;
    gap: 7px;
  }

  .left{
    width: 50%;
    gap: 10vw;
  }

  .right{
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    float: right;
  }

  img .icon{
    width: 100%;
    height: auto;
    margin: 0px;
  }

  .menuIcon{
    border-radius: 100%;
    padding: 20px;
    background-image: url('../assets/avatarPFP.png');
    background-size:cover;
    background-position:center;
    border: none;
    background-color: transparent;
    margin-left: 0vw;
  }

  .darkMode{
    border-radius: 100%;
    background-image: url('../assets/dark.png');
    background-size:cover;
    background-position:center;
    border: none;
    background-color: transparent;
    margin: 0px;
  }

  .chart{
    border-radius: 100%;
    background-image: url('../assets/chart.png');
    background-size: cover;
    background-position:center;
    border: none;
    background-color: transparent;
    margin: 0px;
  }

  .chart,.menuIcon, .dark_mode{
    width: 45px;
    height: 45px;
  }

  .busqueda {
    width: 20%; /* Usar un ancho relativo en móviles */
    max-width: 80px; /* Asegurar que no sea demasiado ancho */
    height: 30px;
    font-size: 14px;
    background-color: lightgrey;
    border-radius: 20px;
    margin-left: 0px;
    margin-top:-5px;
    display: block;
}
}

@media (max-width: 375px){
  .logo {
    width: 80px; /* Reducir tamaño en móviles */
    float: left;
    margin-top: -1vh;
    margin-left: 0px;
  }

  .encabezado{
    margin: 0;
    border-bottom: 2px solid black;
    width: 320vw;
    justify-content: center;
    gap: 7px;
    height: 20vh;
  }

  .left{
    width: 50%;
    gap: 10vw;
    font-size: 75px;
  }

  .right{
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    float: right;
  }

  img .icon{
    width: 100%;
    height: auto;
    margin: 0px;
  }

  .menuIcon{
    border-radius: 100%;
    padding: 20px;
    background-image: url('../assets/avatarPFP.png');
    background-size:cover;
    background-position:center;
    border: none;
    background-color: transparent;
    margin-left: 0vw;
  }

  .darkMode{
    border-radius: 100%;
    background-image: url('../assets/dark.png');
    background-size:cover;
    background-position:center;
    border: none;
    background-color: transparent;
    margin: 0px;
    width: 105px;
    height: 105px;
  }

  .chart{
    border-radius: 100%;
    background-image: url('../assets/chart.png');
    background-size: cover;
    background-position:center;
    border: none;
    background-color: transparent;
    margin: 0px;
  }

  .chart,.menuIcon, .dark_mode{
    width: 105px;
    height: 105px;
  }

  h2{
    font-size: 50px;
    margin-left: 0vw;
  }

  .busqueda {
    width: 100%; /* Usar un ancho relativo en móviles */
    max-width: 260px; /* Asegurar que no sea demasiado ancho */
    height: 60px;
    font-size: 40px;
    background-color: lightgrey;
    border-radius: 20px;
    margin-left: 60px;
    margin-top:1px;
    display: block;
  }
}

@media (max-width: 320px){
  .logo {
    width: 80px; /* Reducir tamaño en móviles */
    float: left;
    margin-top: -1vh;
  }

  .encabezado{
    margin: 0;
    border-bottom: 2px solid black;
    width: 391vw;
    justify-content: center;
    gap: 7px;
    height: 20vh;
  }

  .left{
    width: 60%;
    gap: 10vw;
    font-size: 75px;
  }

  .right{
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
    float: right;
  }

  img .icon{
    width: 100%;
    height: auto;
    margin: 0px;
  }

  .menuIcon{
    border-radius: 100%;
    padding: 20px;
    background-image: url('../assets/avatarPFP.png');
    background-size:cover;
    background-position:center;
    border: none;
    background-color: transparent;
    margin-left: 0vw;
  }

  .darkMode{
    border-radius: 100%;
    background-image: url('../assets/dark.png');
    background-size:cover;
    background-position:center;
    border: none;
    background-color: transparent;
    margin: 0px;
    width: 105px;
    height: 105px;
  }

  .chart{
    border-radius: 100%;
    background-image: url('../assets/chart.png');
    background-size: cover;
    background-position:center;
    border: none;
    background-color: transparent;
    margin: 0px;
  }

  .chart,.menuIcon, .dark_mode{
    width: 105px;
    height: 105px;
  }

  h2{
    font-size: 50px;
    margin-left: -50vw;
  }

  .busqueda {
    width: 100%; /* Usar un ancho relativo en móviles */
    max-width: 260px; /* Asegurar que no sea demasiado ancho */
    height: 60px;
    font-size: 40px;
    background-color: lightgrey;
    border-radius: 20px;
    margin-left: 60px;
    margin-top:5px;
    display: block;
  }
}
